<section [formGroup]="form">
    <label id="inputLabel" [style]="{'color':color}">{{ label_description }}:</label>
    <div class="content-input" [ngClass]="{'invalid':invalid_&&dirtyOrTouched}">
        <input
            class="custom-input"
            [value]="value"
            [formControlName]="formControlName"
            [type]="inputType"
            [placeholder]="placeholder"
            autocomplete="current-password"
            aria-labelledby="inputLabel"
        />
        <div (click)="toggleInputType()" *ngIf="!show" [ngClass]="{ 'password': isPassword }">
            <i [class]="class_icon"></i>
        </div>
        <div *ngIf="show" (click)="toggleInputType()" [ngClass]="{ 'password': isPassword }">
            <i *ngIf="isPassword" [class]="class_icon_visibility"></i>
        </div>
    </div>
</section>