<main>
        <div class="logo-side">
            <img src="../../../assets/logo/logo-rp-music-bg.png" alt="Logo without background">
            <section class="detail-app">
                By Rogger Aldair Paredes Tavara
                <p>Environmet: {{environment}}</p>
                <p>Version:    {{version}}</p>    
            </section>
        </div>
        <div class="form-side">
            <form autocomplete="off">
                <h1>RP music</h1>
                <section class="content-inputs">
                    <app-custom-input [label_desciption]="'Email'" [class_icon]="'fa-solid fa-circle-user'"
                    [value]="email" [type]="'text'" [placeholder]="'Write your Email'" ></app-custom-input>
                    <div>
                        <app-custom-input [label_desciption]="'Password'" [class_icon]="'fa-solid fa-eye-slash'"
                        [value]="password" [type]="'password'" [placeholder]="'Write your Password'" ></app-custom-input>
                        <p class="recover-password">{{forgot_password}} <strong>{{description_recover_password}}</strong></p>
                    </div>    
                </section>
                <app-custom-button  [type]="'button'" [description]="'Log in'" [primary]="true" ></app-custom-button>
                <section class="content-register">
                    <p>{{register_message}}</p>
                    <p><strong>{{description_to_register}}</strong></p>
                </section>
            </form>
        </div>
</main>
