main
    display: flex
    height: 100vh
    justify-content: space-between

.logo-side
    background: #363636
    width: 30%
    justify-content: space-between
    display: flex
    flex-direction: column
    align-items: center
    min-width: 400px

img
    margin-top: 25%

.form-side
    width: 70%
    justify-content: center
    display: flex
    align-items: center
    form
        color: white
        background: #363636
        display: flex
        flex-direction: column
        height: 45%
        justify-content: space-around
        border-radius: 15px
        width: 32%
        min-width: 400px
        gap: 25px
        padding: 5%
        .content-inputs
            display: grid
            grid-template-rows: 1fr 1fr
        h1
            text-align: center
            margin: 0
        .recover-password
            font-size: 13px
            margin: 7px 0 0 0
            strong
                cursor: pointer
        .content-register
            p
                margin: 0
                font-size: 14px

.detail-app
    color: white
    font-weight: 600
    width: 70%