<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <p>{{message_alert}}</p>
    <form [formGroup]="recover_form" class="recover_form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        @if (email.hasError('email') && !email.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (email.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="recover_form.invalid" mat-button [mat-dialog-close]="true" (click)="sendForm()">Recover</button>
</mat-dialog-actions>